{% extends "base.html" %}

{% block content %} 

{% load crispy_forms_tags %}

<!-- Register Form -->
<div class="container mx-auto py-5">
    <div class="max-w-md mx-auto bg-white rounded p-5 shadow-lg {{ REGISTER_CLASS }}">
        <h1 class="text-2xl font-bold mb-5 text-center">Register</h1>
        <form class="form {{ REGISTER_CLASS }}" method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button class="w-full mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" type="submit">Register</button>
        </form>
        <p class="text-center mt-4">Already have an account? <a href="{% url 'auth:login_form' %}" class="text-blue-500 hover:underline">Log in here</a>.</p>
    </div>
</div>

<style>
    
    /* Hide the div by default */
    #id_password1_helptext {
        background-color: rgb(255, 229, 225);
        color: red;
        display: inline-block;
        text-decoration: dashed dotted;
        text-shadow: tomato;
    }
    
    #id_password2_helptext {
        background-color: rgb(255, 229, 225);
        color: red;
        display: inline-block;
        text-decoration: dashed dotted;
        text-shadow: tomato;
    }

</style>

{% endblock %}
