{% extends 'index.html' %}

{% block index %}

<body class="text-white">

<div class="container mx-auto mt-8 text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

        <div>
            <a href="{% url 'offernmanagment:new_offer' %}">Add New</a>
        </div>

        <div class="relative text-white">
            <div class="mt-8 md:mt-0">
                <p class="text-sm font-semibold mb-2">Helpful Tips:</p>
                <ul class="list-disc ml-6">
                    <li class="mt-2 text-sm">Provide a clear and enticing destination name to attract customers.</li>
                    <li class="mt-2 text-sm">Specify the duration of the offer in days to manage customer expectations.</li>
                    <li class="mt-2 text-sm">Set a competitive price to appeal to potential travelers.</li>
                    <li class="mt-2 text-sm">List the inclusions to highlight the value of the offer.</li>
                </ul>
            </div>
        </div>
    </div>

    <section class="container">
            <div class="">
                {% for offer in offers %}
                <a href="#" class="text-lg flex inline font-semibold text-white">{{ offer.offer_name }}</a>
                <hr class="my-4">
                <p class="text-white-700"><strong>Description:</strong>
                    <span class="px-2 py-1 rounded-full text-sm">
                        <p>
                            {{ offer.offer_description }}
                        </p>
                    </span>
                </p>
                <p class="text-white-700"><strong>Price:</strong></p>
                <div class="flex">
                    {{ offer.price }}
                </div>
    
                
                <!-- Add more campaign details here -->
                <div class="mt-4">
                    <a href="{% url 'campaignmanagment:edit_campaign' campaign.id %}" class="text-blue-500 hover:underline mr-2">Edit</a>
                    <a href="{% url 'campaignmanagment:delete_campaign' campaign.id %}" class="text-red-500 hover:underline">Delete</a>
                </div>

                {% endfor %}
            </div>
    </section>

</div>

{% endblock %}
