{% extends 'index.html' %}

{% block index %}

<body class="text-black">

<div class="container mx-auto mt-8 text-black">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

        <div class="justify-center flex inline">
            <a class="inline" href="{% url 'offernmanagment:new_offer' %}"><img class="grid" width="48" height="48" src="https://img.icons8.com/color/48/add--v1.png" alt="add--v1"/></a>
        </div>

        <div class="relative text-black">
            <div class="mt-8 md:mt-0">
                <p class="text-sm font-semibold mb-2">Helpful Tips:</p>
                <ul class="list-disc ml-6">
                    <li class="mt-2 text-sm">Provide a clear and enticing destination name to attract customers.</li>
                    <li class="mt-2 text-sm">Specify the duration of the offer in days to manage customer expectations.</li>
                    <li class="mt-2 text-sm">Set a competitive price to appeal to potential travelers.</li>
                    <li class="mt-2 text-sm">List the inclusions to highlight the value of the offer.</li>
                </ul>
            </div>
        </div>
        <br>
    </div>
<br>
<hr>
<br>
    <section class="container justify-center grid grid-cols-4 inline grid flex bg-gray-300 gap-2 text-black">
        <br>
        {% for offer in offers %}
            <div class="bg-white flex justify-center">
                <div class="bg-black-800 text-black rounded">
                <span class="bg-white text-black">
                <h1 href="#" class="text-lg font-semibold text-black"><strong>Offer Name:&ensp;</strong>{{ offer.offer_name }}</h1>
                <p class="text-black-700"><strong>Description:</strong>
                    <span class="px-2 py-1 rounded-full text-sm">
                        <p>
                            {{ offer.offer_description }}
                        </p>
                    </span>
                </p>
                <p class="text-black-700"><strong>Price:</strong></p>
                <div class="flex">
                    {{ offer.price }}
                </div>
    
                
                <!-- Add more campaign details here -->
                <div class="mt-4">
                    <a href="#" class="text-blue-500 hover:underline mr-2">Edit</a>
                    <a href="#" class="text-red-500 hover:underline">Delete</a>
                </div>
            </span>
        </div>
                
            </div>
            {% endfor %}
    </section>

</div>

{% endblock %}
