{% extends 'index.html' %}

{% block index %}

<body class="text-white">

<div class="container mx-auto mt-8 text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="relative">
            <h2 class="text-lg font-semibold mb-4">Create New Offer</h2>
            <form action="/create_offer" method="POST" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="destination" class="text-sm">Destination:</label><br>
                    <input type="text" id="destination" name="destination" required class="w-full rounded-md py-2 px-3 bg-gray-800 border border-gray-700 text-sm text-white focus:outline-none focus:border-blue-500">
                </div>

                <div>
                    <label for="duration" class="text-sm">Duration (in days):</label><br>
                    <input type="number" id="duration" name="duration" min="1" required class="w-full rounded-md py-2 px-3 bg-gray-800 border border-gray-700 text-sm text-white focus:outline-none focus:border-blue-500">
                </div>

                <div>
                    <label for="price" class="text-sm">Price:</label><br>
                    <input type="text" id="price" name="price" required class="w-full rounded-md py-2 px-3 bg-gray-800 border border-gray-700 text-sm text-white focus:outline-none focus:border-blue-500">
                </div>

                <div>
                    <label for="inclusions" class="text-sm">Inclusions:</label><br>
                    <textarea id="inclusions" name="inclusions" rows="4" required class="w-full rounded-md py-2 px-3 bg-gray-800 border border-gray-700 text-sm text-white focus:outline-none focus:border-blue-500"></textarea>
                </div>

                <input type="submit" value="Create Offer" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline">
            </form>
        </div>

        <div class="relative text-white">
            <div class="mt-8 md:mt-0">
                <p class="text-sm font-semibold mb-2">Helpful Tips:</p>
                <ul class="list-disc ml-6">
                    <li class="mt-2 text-sm">Provide a clear and enticing destination name to attract customers.</li>
                    <li class="mt-2 text-sm">Specify the duration of the offer in days to manage customer expectations.</li>
                    <li class="mt-2 text-sm">Set a competitive price to appeal to potential travelers.</li>
                    <li class="mt-2 text-sm">List the inclusions to highlight the value of the offer.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
