{% extends 'campaigns.html' %}

{% block title %}{{ title }}{% endblock %}


{% block forms %}
<h1>{{ title }}</h1>

<form class="" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="grid grid-cols-4 space-x-6 mt-4 py-4 gap-4 flex flex-1">
        {{ new_campaign_form.as_div }}
        {% for fields in new_campaign_form %}
        {{ fields }}
        {% endfor %}
    </div>

        <button class="justify-center align-center text-center py-4 px-8 text-lg bg-green-500 hover:bg-green-200 rounded-xl">Post</button>  
</form>
{% endblock %}