<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Globetrotter-Hub</title>
        <!-- Link to Tailwind CSS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        
        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body class="bg-gray-100 dark:bg-gray-900">
    
    <!-- Header -->
    <header class="py-4 px-6 bg-white dark:bg-gray-800 flex items-center justify-between">
        <a href="#"><h1 class="text-2xl font-semibold text-gray-800 dark:text-white">Welcome to GlobetrotterHub</h1></a>
        <p class="text-gray-600 dark:text-gray-300">Your all-in-one platform for managing travel campaigns and offers</p>
    </header>
    
    <!-- Navigation -->
    {%if request.user.is_authenticated %}
    {% block user_authenticated %}
    {% endblock%}
{%else%}
<nav class="py-4 px-6 bg-gradient-to-r from-blue-700 to-green-700 dark:bg-gray-800">
    <div class="flex justify-between items-center">
        <div class="flex-shrink-0">
            <a href="/" class="text-white font-bold text-xl">GlobetrotterHub</a>
        </div>
        <div class="hidden md:flex items-center justify-center space-x-4 flex-grow">
            <ul class="flex space-x-4">
                <li><a href="/" class="text-white hover:text-gray-200">Home</a></li>
                <li><a href="{% url 'homepage:about_us' %}" class="text-white hover:text-gray-200">About Us</a></li>
                <li><a href="#" class="text-white hover:text-gray-200">Services</a></li>
                <li><a href="{% url 'homepage:contact' %}" class="text-white hover:text-gray-200">Contact</a></li>
            </ul>
        </div>
        <div class="flex items-center">
            <!-- Registration Form -->
            <form class="bg-gradient-to-o rounded-full text-white">
                <a class="text-white text-lg" href="{% url 'auth:login_form' %}">Login</a>
                &emsp;/&emsp;
                <a class="text-white text-lg" href="{% url 'auth:register_form' %}">Register</a>
            </form>
        </div>
        <div class="md:hidden">
            <!-- Hamburger menu icon for mobile -->
            <button class="text-white focus:outline-none">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </div>
</nav>
{%endif%}
    
    

<body class="bg-gray-100 dark:bg-gray-900">
{% block content  %}
{% endblock %}
</body>

<!-- Footer -->
<footer class="py-4 px-6 bg-gray-200 dark:bg-gray-800 text-center">
    <p class="text-gray-600 dark:text-gray-300">&copy; 2024 GlobetrotterHub. All rights reserved.</p>
</footer>


</html>
