{% extends 'base.html' %}




{% block content %}

<!-- Hero Section -->
<section class="bg-gray-800 dark:bg-gray-900 text-white py-20 px-4 md:px-24">
    <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between">
        <div class="md:w-1/2 mb-8 md:mb-0">
            <h2 class="text-4xl font-bold mb-4">Plan, Create, Manage.</h2>
            <p class="text-lg">Your journey to success starts here.</p>
            <div class="flex justify-center  gap-4 mt-8">
                {% if user.is_authenticated %}
                <a class="bg-green-500 text-xl rounded-lg px-4" href="{% url 'dashboard:index' %}">Continue</a>
                {% endif %}
            </div>
        </div>
       
        <div class="md:w-1/2">
            <img src="https://png.pngtree.com/png-vector/20220531/ourmid/pngtree-b2bbusiness-to-businessword-illustration-chain-corporate-customer-vector-png-image_30707236.png" alt="Travel" class="w-full rounded-lg shadow-md">
        </div>
    </div>
</section>

<!-- About Section -->
<section class="bg-white dark:bg-gray-800 py-20 px-4 md:px-24">
    <div class="max-w-6xl mx-auto">
        <h1 class="text-3xl text-white font-semibold mb-8">About GlobetrotterHub</h1>
        <p class="text-lg text-gray-700 dark:text-gray-300">GlobetrotterHub is a comprehensive platform designed to streamline the management of travel campaigns, offers, and client relationships for B2B travel agencies. With powerful tools for campaign management, offer creation, client communication, and analytics, GlobetrotterHub empowers agencies to succeed in the competitive travel industry.</p>
    </div>
</section>
{% endblock %}