{% extends 'index.html' %}

{% block index %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body class="container bg-white">
    <br>
    <h2 class="text-lg text-black font-semibold mb-4 justify-center flex underline">Dashboard</h2>

    <br>
<!-- <div class="text-white">
    <input placeholder="Enter Month" class="text-black" id="bar1" name="bar1"/>
    <input placeholder="Enter No." class="text-black" id="bar2" name="bar2"/>
    <button type="button" onclick="update()" class="bg-blue-600 rounded-lg w-28">Continue</button>
</div> -->
<br>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 bg-white">
        <!-- Chart 1: Bar Chart -->
        <div class="dashboard-item text-black">
            <canvas style="color: black;" id="barChart" width="400" height="200"></canvas>
        </div>
        <!-- Chart 3: Line Chart -->
        <div class="dashboard-item text-black">
            <canvas style="color: black;" id="lineChart" width="400" height="200"></canvas>
        </div>
        <!-- Chart 4: Pie Chart -->
        <div class="dashboard-item">
            <canvas id="pieChart1" width="400" height="200"></canvas>
        </div>
    </div>
</body>

<script>

    const data = {
        labels: ['January', 'February', 'March'],
                datasets: [{
                    label: 'Campaigns Created',
                    data: [22,13,43],
                    backgroundColor: [
                        'rgba(20, 77, 159, 0.8)'
                    ],

                    borderColor: [
                        'rgba(210, 235, 9, 0.8)'
                    ],
                    borderWidth: 2
                }]      
    };

    const config = {
        type: 'bar',
        data,
        options: {
            y: {
                beginAtZero: true
            }
        }
    };

    const barChart = new Chart(
        document.getElementById('barChart'),
        config
    );

    // function update(){
    //     const bar1 = document.getElementById('bar1');
    //     // const bar2 = document.getElementById('bar2');

    //     barChart.data.labels.push(bar1.value)
    //     barChart.data.datasets[0].data.push(bar2.value)
    //     barChart.update();

    // }

    const data1 = {
        labels: ['January', 'February', 'March'],
                datasets: [{
                    label: 'Clients Created',
                    data: [22,13,43],
                    backgroundColor: [
                        'rgba(20, 77, 159, 0.8)'
                    ],

                    borderColor: [
                        'rgba(210, 235, 9, 0.8)'
                    ],
                    borderWidth: 2
                }]      
    };

    const config1 = {
        type: 'line',
        data: data1,
        options: {
            y: {
                beginAtZero: true
            }
        }
    };


const lineChart = new Chart(
    document.getElementById('lineChart'),
    config1
);



</script>

{% endblock %}
