{% extends 'base.html' %}

{% block user_authenticated %}

    <!-- Navigation -->
    <nav class="h-12 py-2 px-4 bg-gradient-to-r from-blue-700 to-green-700 dark:bg-gray-800 rounded-lg">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex-shrink-0">
                <a href="{% url 'dashboard:index' %}" class="text-white font-bold text-lg">GlobetrotterHub</a>
            </div>
            <div class="hidden md:flex items-center space-x-4">
                <!-- Navigation Links -->
                <ul class="flex space-x-4">
                    <li>
                        <a href="{% url 'campaignmanagment:campaigns_form' %}" class="text-white hover:text-gray-300">Campaigns</a>
                    </li>
                    <li>
                        <a href="{% url 'clientnmanagment:client_form' %}" class="text-white hover:text-gray-300">Clients</a>
                    </li>
                    <li>
                        <a href="{% url 'offernmanagment:offers_form' %}" class="text-white hover:text-gray-300">Offers</a>
                    </li>
                    <li>
                        <a href="{% url 'bookingintegration:booking_form' %}" class="text-white hover:text-gray-300">Booking Integrations</a>
                    </li>
                    <li>
                        <a href="{% url 'reportsandanalytics:reports_form' %}" class="text-white hover:text-gray-300">Reports</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center space-x-4">
                <!-- Profile and Logout Links -->
                <div>
                    <a href="{% url 'dashboard:profile' %}" class="text-white flex items-center space-x-2">
                        <span>Hi, {{ request.user.username | title }}</span>
                        <img src="https://img.icons8.com/material/24/user--v1.png" alt="User Icon" class="w-6 h-6" />
                    </a>
                </div>
                <div>
                    <a href="{% url 'sms:sms_form' %}" class="text-white flex items-center space-x-2">
                        <img src="https://img.icons8.com/material/24/chat--v4.png" alt="Chat Icon" class="w-6 h-6" />
                        <span>Chats</span>
                    </a>
                </div>
                <div>
                    <a href="{% url 'auth:logout' %}" class="text-white bg-red-600 px-4 py-2 rounded-full hover:bg-red-700">Logout</a>
                </div>
            </div>
            <!-- Hamburger menu icon for mobile -->
            <div class="md:hidden">
                <button class="text-white focus:outline-none">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
 

    
    <body class="container">
        {% block index %}
        {% endblock %}
    </body>


    {% endblock %}
